{% extends 'basedashboard.html.twig' %}
{% block title %}Ajouter Catégorie{% endblock %}
{% block body %}
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

{{ form_widget(form) }}

 
  {% if app.request.attributes.get('_route') == 'modcat' %}
         <button type="submit" class="btn btn-gradient-primary mr-2">Modifier</button>

               {% else %}
 <button type="submit" class="btn btn-gradient-primary mr-2">Ajouter</button>
     {% endif %}{{ form_end(form) }}
 

{% endblock %}