{% extends 'basedashboard.html.twig' %}

{% block title %}New TypeReclamation{% endblock %}

{% block body %}
    <h1>ajouter un nouveau TypeReclamation</h1>

    {{ include('type_reclamation/_form.html.twig') }}

    <a  class="badge badge-success" href="{{ path('type_reclamation_index') }}">Liste des types</a>
    <a href="{{ path('rec_index') }}">Liste Reclamation</a>

{% endblock %}
