{% extends 'basefront.html.twig' %}

{% block title %} Reclamation{% endblock %}

{% block body %}
    <div style="margin-left: 350px">
    <h1 class="hero-heading hero-heading-dark" >Faites votre Reclamation</h1>

    {{ include('rec/_form.html.twig') }}

        
{% endblock %}
